main > time {
  margin-bottom: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 680px;

}

main a {
  color: rgb(0, 0, 148);
}

main,
p,
span {
  line-height: 2;
}

img {
  max-width: 80%;
  height: auto;
}

.post-thumbnail {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.image-credit {
  font-size: 0.75rem;
  color: #666;
  margin-top: 0;
  margin-bottom: 24px;
}

q,
blockquote {
  font-style: italic;
  border-radius: 8px;
  padding: 8px;
  background-color: rgb(240, 240, 240);
}

strong {
  font-weight: bold;
}

.back-to-list {
  margin-top: 48px;
}

.back-button {
  display: inline-block;
  padding: 4px;
  color: inherit;
  font-weight: normal;
}

.back-button:hover {
  text-decoration: underline;
}
