@charset "utf-8";

@font-face {
  font-family: "Programma";
  font-weight: bold;
  src: url("../resources/fonts/Programma-Bold.woff2") format("woff2");
}

:root {
  --carbon-paper: #d2cdc8;
  --carbon-paper-dark: #78736e;
  --white: #ffffff;
  --code-background: #f5f2f0;
  --code-highlight: #dd4a68;
  --black: #000000;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 4px;
}

.link {
  color: rgb(0, 0, 148);
}

a:hover {
  text-decoration: underline;
}

body {
  padding: 0px;
  margin: 26px;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  background-color: var(--carbon-paper);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  body {
    flex-direction: column;
  }
}

main {
  border: 2px solid var(--black);
  padding: 16px;
  width: 100%;
  background-color: var(--white);
}

code,
time {
  font-family: Programma, mono;
  font-size: 100%;
  font-style: normal;
  font-weight: bold;
}

code {
  background-color: var(--code-background);
  color: var(--code-highlight);
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.8em;
}

h5 {
  font-size: 0.6em;
}

blockquote {
  margin: 0;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

ul > li {
  line-height: 1.5em;
}

/* 태그 스타일 */
.tags {
  display: inline-flex;
  gap: 4px;
  margin-left: 8px;
}

.tag {
  display: inline-block;
  padding: 2px 8px;
  font-size: 0.75rem;
  font-family: Programma, mono;
  background-color: var(--code-background);
  border: 1px solid var(--carbon-paper-dark);
  border-radius: 4px;
  color: var(--black);
  cursor: pointer;
}

.tag:hover {
  background-color: var(--carbon-paper);
  text-decoration: none;
}

.tag.active {
  background-color: var(--black);
  color: var(--white);
}

/* 포스트 목록 태그 레이아웃 */
.posts ul > li {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 4px;
}

/* 포스트 상세 페이지 태그 */
.post-tags {
  margin: 8px 0 16px;
  display: flex;
  gap: 4px;
}

@media screen and (max-width: 600px) {
  .tags {
    display: flex;
    margin-left: 0;
    margin-top: 4px;
  }
}


ol {
  list-style-type: decimal;
}

ol > li {
  line-height: 1.5em;
}

/* octo cat */
.github-corner .octo-root {
  fill: #151513;
  border: 0;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
}

.github-corner .octo-root {
  fill: #151513;
  border: 0;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
}

.github-corner .octo-arm {
  -webkit-transform-origin: 130px 106px;
  transform-origin: 130px 106px;
}

.github-corner:hover .octo-arm {
  -webkit-animation: octocat-wave 0.56s ease-in-out;
  animation: octocat-wave 0.56s ease-in-out;
}

.github-corner .octo-body {
  fill: currentColor;
}

@-webkit-keyframes octocat-wave {
  0%,
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  20%,
  60% {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }

  40%,
  80% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

@keyframes octocat-wave {
  0%,
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  20%,
  60% {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }

  40%,
  80% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    -webkit-animation: none;
    animation: none;
  }

  .github-corner .octo-arm {
    -webkit-animation: octocat-wave 0.56s ease-in-out;
    animation: octocat-wave 0.56s ease-in-out;
  }
}
